*{
    box-sizing: border-box;
}
.GamesBlock {
  display: grid;
  grid-template-areas:
  'Colony'
  'Game2'
  'TimeMachine';
  background-color: white;
  gap: 0px;
  column-count: 3;
  background-color: transparent;
}
.Colony{
    grid-area: Colony;
    font-size: 20px;
    p{
        max-width: 800px;
    }
    img{
        width: 100%;
        max-width: 800px;
    }
}
.Game2{
    grid-area: Game2;
    font-size: 20px;
    p{
        max-width: 800px;
    }
    img{
        width: 100%;
        max-width: 800px;
    }
}
.TimeMachine{
    grid-area: TimeMachine;
    font-size: 20px;
    p{
        max-width: 800px;
    }
    img{
        width: 100%;
        max-width: 800px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Colony {
        grid-area: 1/ span 6;
        font-size: 20px;
    }
    .Game2 {
        grid-area: 2/ span 6;
        font-size: 20px;
    }
    .TimeMachine {
        grid-area: 3/ span 6;
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Colony {
        grid-area: 1/ span 6;
        font-size: 20px;
    }
    .Game2 {
        grid-area: 2/ span 6;
        font-size: 20px;
    }
    .TimeMachine {
        grid-area: 3/ span 6;
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Colony {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .Game2 {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .TimeMachine {
        grid-area: 1/ span 1;
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Colony {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .Game2 {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .TimeMachine {
        grid-area: 1/ span 1;
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Colony {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .Game2 {
        grid-area: 1/ span 1;
        font-size: 20px;
        border-right: 10px solid white;
    }
    .TimeMachine {
        grid-area: 1/ span 1;
        font-size: 20px;
    }
}